.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
    margin-right: 0;
}

.dot:nth-child(1) {
    animation-delay: -0.3s;
}

.dot:nth-child(2) {
    animation-delay: -0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.1s;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        background-color: #0C80A1;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }

    50% {
        transform: scale(1.2);
        background-color: #005581;
        box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }

    100% {
        transform: scale(0.8);
        background-color: #0C80A1;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
}

.social-buttons {
    position: fixed;
    bottom: 0px;
    right: 0px;
    scale: 70%;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;
}

.social-button:hover {
    box-shadow: 0px 0px 6px 3px #00000027;
    transition: all 0.3s ease-in-out;
}

.social-buttons svg {
    height: 20px;

}
.social-buttons:hover {
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.facebook:hover{
    background-color: #3b5998;
}

.github:hover {
    background-color: #333;
}

.linkedin:hover {
    background-color: #0077b5;
}


.instagram:hover {
    background: linear-gradient(
        45deg,
        #405de6,
        #5b51db,
        #b33ab4,
        #c135b4,
        #e1306c,
        #fd1f1f
      );
}

